/* Fuente para titulo grande */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-cyan: #3fe2dd; /* Color 1 */
  --color-blue: #0254b4; /* Color 2 */
  --color-coral: #f98725; /* Color 3 */

  --bg-main: #050a14; /* background */
  --bg-card: #0f1623; /* secondary background */
  
  --text-title: #ffffff;
  --text-body: #94a3b8;
  --text-muted: #334155;
}

@theme {
  --color-primary: var(--color-cyan);
  --color-secondary: var(--color-blue);
  --color-accent: var(--color-coral);

  --color-background: var(--bg-main);
  --color-surface: var(--bg-card);
  
  --color-text-main: var(--text-title);
  --color-text-p: var(--text-body);
  --color-text-dim: var(--text-muted);

  /* Fonts */
  --font-display: "Orbitron", sans-serif;
  --font-body: "Space Grotesk", sans-serif;
  --font-code: "JetBrains Mono", monospace;
  
  /* Animación para elementos flotantes */
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer utilities {
  .text-outline {
    color: transparent; 
    -webkit-text-stroke: 3px var(--color-cyan);
  }

  /* Keyframes para animación de rotación lenta (Nebulosa) */
  @keyframes spin-slow {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  /* Nebulosa */
  .nebula-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 50vw;
    height: 50vw;
    background: conic-gradient(
      from 0deg,
      transparent 0deg,
      var(--color-primary) 100deg,
      transparent 180deg,
      var(--color-accent) 280deg,
      transparent 360deg
    );
    filter: blur(100px); 
    opacity: 0.8;
    -webkit-mask-image: radial-gradient(circle at center, black 0%, transparent 70%);
    mask-image: radial-gradient(circle at center, black 0%, transparent 70%);
    
    /* Animación */
    animation: spin-slow 10s linear infinite;
    pointer-events: none;
  }

  .nebula-bg-small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30vw;
    height: 30vw;
    background: conic-gradient(
      from 0deg,
      transparent 0deg,
      var(--color-primary) 100deg,
      transparent 180deg,
      var(--color-accent) 280deg,
      transparent 360deg
    );
    filter: blur(100px); 
    opacity: 0.8;
    -webkit-mask-image: radial-gradient(circle at center, black 0%, transparent 70%);
    mask-image: radial-gradient(circle at center, black 0%, transparent 70%);
    
    /* Animación */
    animation: spin-slow 15s linear infinite;
    pointer-events: none;
  }

  /* Key frames para animación de scroll */
  @keyframes scroll-down {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  /* clase */
  .animate-scroll {
    animation: scroll-down 2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
  }

  /* Keyframes para animación del cursor de escritura */
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .animate-cursor {
    animation: blink 1s step-end infinite;
  }

  /* keyframes para animación de sombra orbital naranja */
  @keyframes shadow-orbit {
    0% {
      box-shadow: 6px 0px 20px -4px color-mix(in srgb, var(--color-accent), transparent 60%);
    }
    25% {
      box-shadow: 0px 6px 20px -4px color-mix(in srgb, var(--color-accent), transparent 60%);
    }
    50% {
      box-shadow: -6px 0px 20px -4px color-mix(in srgb, var(--color-accent), transparent 60%);
    }
    75% {
      box-shadow: 0px -6px 20px -4px color-mix(in srgb, var(--color-accent), transparent 60%);
    }
    100% {
      box-shadow: 6px 0px 20px -4px color-mix(in srgb, var(--color-accent), transparent 60%);
    }
  }

  .animate-shadow-orbit {
    animation: shadow-orbit 4s linear infinite;
  }

  /* keyframes para animación de sombra orbital azul */
  @keyframes shadow-orbit-cyan {
    0% {
      box-shadow: 6px 0px 20px -4px color-mix(in srgb, var(--color-cyan), transparent 60%);
    }
    25% {
      box-shadow: 0px 6px 20px -4px color-mix(in srgb, var(--color-cyan), transparent 60%);
    }
    50% {
      box-shadow: -6px 0px 20px -4px color-mix(in srgb, var(--color-cyan), transparent 60%);
    }
    75% {
      box-shadow: 0px -6px 20px -4px color-mix(in srgb, var(--color-cyan), transparent 60%);
    }
    100% {
      box-shadow: 6px 0px 20px -4px color-mix(in srgb, var(--color-cyan), transparent 60%);
    }
  }

  .animate-shadow-orbit-2 {
    animation: shadow-orbit-cyan 4s linear infinite;
  }
}

/* ESTILOS BASE GLOBALES */
body {
  background-color: var(--bg-main);
  color: var(--text-title);
  /* Suavizado de fuentes para pantallas modernas */
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

/* CLASE UTILITARIA PARA DEGRADADOS */
.bg-gradient-brand {
  background: linear-gradient(135deg, var(--color-blue) 0%, var(--color-cyan) 100%);
}